.container{
    color: white;
    display: flex;
    flex-direction: column;
    width: revert;
    justify-self: center;
    
    
}

.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.input{
    color: white;
    background-color:rgb(56, 19, 91);
    margin: 10px
}

.input:hover{
    background-color:rgb(9, 1, 16);
}

.button{
    background-color: rgb(56, 19, 91);
    color: white
}
.button:hover{
    background-color:rgb(9, 1, 16);
}